<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css" >
    <title>To Do App</title>
</head>
<body>
    <img src='homepage.png'>
    <h1>To Do App</h1>
    <div class="developer">
        <h2><a href="newDeveloper">Add new developer</a></h2>
        <h2><a href="listdevelopers">List All developers</a></h2>
    </div>
    <div class="task">
        <h2><a href="newtask">Add new task</a></h2>
        <h2><a href="listtasks">List All tasks</a></h2>
    </div>
</body>
</html>